@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
      font-family: "Roboto Slab", serif;
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

<<<<<<< HEAD
.grid-container{
    margin-bottom: 100px;
}
=======
footer{
    font-family: "Roboto Slab", serif;
    width: 100%;
    height: 600px;
}
.text{
  font-family: "Roboto", sans-serif;
  line-height: 150%;
  font-size: 20px;
}


.name{
  font-size: 30px;
  font-weight: 700;
  line-height: 101%;
}

.details{
   display: flex;
   justify-content: flex-start;
   font-weight: 700;
   align-items: center;
   size: 30px;
   font: Roboto Slab;
}
.fb-icon{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fcb{
   
}

.details-section {
  display: flex;
  flex-direction: column;
  background: #9DC9C8;
  padding: 100px 50px;
  
  left: -1px;
}

.course-info{
  h2{
    font-size: 55px;
      font-weight: 700;
      line-height: 101%;
  }
}

.footer-desc{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  text-align: left;
  font-family: "Roboto",  sans-serif;
  margin-bottom: 100px;
}

.footer-item{
  width:294px;
  h4{
    font-weight: 400;
  }
}

>>>>>>> ea628ee361de49f93f57a9f61a219b039bf5368d
.page-container{
  
    margin-top: 60px;
}

.review{
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 50px;
    width: 791px;
    
}
.info{
    background-color: #EFEFEF;
    padding: 20px 100px;

    h2{
      font-size: 55px;
      font-weight: 700;
      line-height: 101%;
      margin-bottom: 60px;
    }

}


.label {
  font-weight: 400;
  font-family: 'Roboto';
}

.price{
   font-size: 80px;
   margin-bottom: 50px;
   
}

.black-bar{
   background-color: black;
}

.review text{
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    max-width: 700px;
    text-align: center;
}

.main-container{
    margin: 20px 100px;
}
#grid-title{
    font-weight: 700;
    font-size: 55px;
    line-height: 101%;
    margin-bottom: 130px;
    margin-left: 30px;
}
.card{
    width: 399px;
    height: 328px;
    color: black;
    border-radius: 30px;
    box-shadow: 1px 1px 15px 0px #00000040;
    font-family: "Roboto", sans-serif;
    h4{
        font-size: 30px;
        line-height: 130%;
        margin: 0px;
        margin-bottom: 30px;

    }
    p{
        font-size: 25px;
        font-weight: 400;
        margin: 0px;
    }
}
.img-crop{
       width: 399px;
        height: 160px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
              border-top-left-radius: 30px;
        border-top-right-radius: 30px;
}
.grid-img{
    width:100%;
    height: 100%;
    object-fit:cover;
    

}

.grid-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.grid-description{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}
#last{
    margin-bottom: 0px;
}

.container1 h2{
     font-family: "Roboto Slab", serif;
     font-weight: 700;
     font-size: 55px;
     line-height: 101%;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    img{
        width: 290px;
        height: 302px;
    }
    p{
        font-size: 24px;
        line-height: 150%;
        font-weight: 400;
    }
}
.left{
    width: 662px;
    font-family: "Roboto", sans-serif;

}
.lessons{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    margin-bottom: 200px;
    font-family: "Roboto", sans-serif;


    
    img{
        width: 222px;
        height: 194px;
    }
    h4{
        font-size: 25px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 10px;
    }
    p{
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        margin: 0px;
        width: 150px;
    }
}
.lessons section{
    display: grid;
    grid-template-columns: repeat(3,260px);
    margin-left: 150px;
}
.lessons-format{
     display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 250px;
    font-family: "Roboto", sans-serif;
    h4{
        color: #1E4681;
        font-size: 25px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 10px;
    }
}
#format-title{
    margin-bottom: 80px;
}
.formats{
    width: 250px;
}
ul{
    width: 662px;
    font-weight: 400;
    line-height: 150%;
    font-size: 24px;
    margin-bottom: 300px;
    font-family: "Robot", sans-serif;
}


@media (max-width:834px) {
    h1{
        font-size: 32px;
    }
    .left{
      width: 383px;
    }
    .about{
        gap: 150px;
      img{
        width: 164px;
        height: 165px;
       }
       p{
        font-size: 14px;
        }
    }
    .bottom {
        display: grid;
        grid-template-columns: 1fr;
        img{
            display: none;
        }
        h4{
        font-size: 15px;
       }
       p{
        font-size: 11px;
        width: 87px;
       }
    }
    section{
        margin-left: 0px;
        display: grid;
        grid-template-columns: repeat(3,140px);
    }
}
@media (max-width:375px) {
    h1{
        font-size: 26px;
        width: 215px;
    }
    .left p{
        width: 308px;
    }
    .about{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
     .bottom {
        display: grid;
        grid-template-columns: 1fr;
        img{
            display: none;
        }
        h4{
        font-size: 15px;
       }
       p{
        font-size: 10px;
        width: 87px;
       }
    }
     section{
        margin-left: 0px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
}
.container1{
    margin-bottom: 100px;
}