 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      @font-face {
        font-family: "Roboto";
        src: url(./Montserrat\,Roboto\,Roboto_Slab/Roboto/Roboto-VariableFont_wdth,wght.ttf);
      }
      @font-face {
        font-family: "Roboto Slab";
        src: url(./Montserrat\,Roboto\,Roboto_Slab/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
      }
      body {
        font-family: "Roboto Slab", sans-serif;
      }

      .main-container {
        padding: 60px 80px 20px;
      }
      .container1 {
        margin-bottom: 100px;
      }

      .container1 h2 {
        font-family: "Roboto Slab", sans-serif;
        font-weight: 700;
        font-size: 55px;
        line-height: 101%;
        margin-bottom: 60px;
      }

      .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
      }

      .left {
        width: 662px;
        font-family: "Roboto", sans-serif;
      }

      .about p {
        font-size: 24px;
        line-height: 150%;
        font-weight: 400;
        margin-bottom: 20px;
      }

      .right img {
        width: 366px;
        height: 344px;
      }

      .lessons {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 250px 1fr;
        align-items: center;
        margin-bottom: 200px;
        font-family: "Roboto", sans-serif;
      }

      .lessons img {
        width: 222px;
        height: 194px;
      }

      .lessons section {
        display: grid;
        grid-template-columns: repeat(3, 260px);
        margin-left: 150px;
        gap: 30px;
      }

      .lessons h4 {
        font-size: 25px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 10px;
      }

      .lessons p {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        width: 200px;
      }

      #format-title {
        font-size: 55px;
        font-weight: 700;
        line-height: 101%;
        margin-bottom: 80px;
      }

      .lessons-format {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin-bottom: 250px;
        font-family: "Roboto", sans-serif;
      }

      .formats {
        max-width: 350px;
      }

      .lessons-format h4 {
        color: #1E4681;
        font-size: 25px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 10px;
      }

      .lessons-format p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }

      .bottom h2 {
        font-size: 55px;
        font-weight: 700;
        line-height: 101%;
        margin-bottom: 40px;
      }

      .bottom ul {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        line-height: 150%;
        font-size: 24px;
        margin-bottom: 300px;
        padding-left: 15px;
      }


      .grid-container {
        margin-bottom: 100px;
      }

      #grid-title {
        font-weight: 700;
        font-size: 55px;
        line-height: 101%;
        margin-bottom: 130px;
      }

      .grid-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }

      .card {
        background: white;
        border-radius: 30px;
        box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
      }

      .img-crop {
        width: 100%;
        height: 160px;
        overflow: hidden;
      }

      .grid-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .grid-description {
        padding: 20px 20px 30px;
        font-family: "Roboto", sans-serif;
      }

      .grid-description h4 {
        font-size: 30px;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 30px;
      }

      .grid-description p {
        font-size: 25px;
        font-weight: 400;
        line-height: 130%;
      }
      #last{
        margin-bottom: 10px;
      }

      footer {
        font-family: "Roboto Slab", sans-serif;
      }

      .page-container {
        background-color: #EFEFEF;
      }

      .info {
            padding: 80px 50rem 80px 80px;
      }

      .page-container h2 {
        font-size: 55px;
        font-weight: 700;
        line-height: 101%;
        margin-bottom: 20px;
      }
      #course-title{
                padding: 80px 80px 0px 80px;

      }

      .review {
        background: #ffffff;
        border-radius: 30px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        padding: 40px 45px 20px 45px;
      }

      .review .text {
        font-family: "Roboto", sans-serif;
        line-height: 150%;
        font-size: 20px;
        margin-bottom: 30px;
      }

      .details {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      #details-img {
        width: 110px;
        height: 97px;
        border-radius: 10px;
      }

      .fb-icon {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      .name {
        font-size: 30px;
        font-weight: 700;
        line-height: 101%;
      }

      .fb img {
        width: 25px;
        height: 25px;
      }

  
      .details-section {
        background-color: #9DC9C8;
        padding: 160px 120px;
      }

      .course-info h2 {
        font-size: 55px;
        font-weight: 700;
        line-height: 101%;
        margin-bottom: 40px;
      }

      .label {
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        line-height: 101%;
        margin-bottom: 10px;
      }

      .price {
        font-size: 80px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        line-height: 101%;
        margin-bottom: 50px;
      }

      .footer-desc {
        display: flex;
        gap: 100px;
        font-family: "Roboto", sans-serif;
      }

      .footer-item {
        max-width: 294px;
      }

      .footer-item h4 {
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 15px;
      }

      .footer-item p {
        font-size: 18px;
        line-height: 150%;
      }


      .black-bar {
        background-color: #000000;
        padding: 50px 110px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .logo-container {
        display: flex;
        flex-direction: column;
        gap: 100px;
      }

      #brand-logo-img {
        width: 110px;
        height: 65px;
        margin-bottom: 20px;
      }

      .icons {
        display: flex;
        gap: 15px;
      }

      .icons a img {
        width: 30px;
        height: 30px;
      }

      .year-2020 {
        color: white;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
      }

      .contact-details {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .contact, .email {
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 25px;
      }

      .contact a, .email a {
        display: flex;
        align-items: center;
      }

      .contact img {
        width: 20px;
        height: 20px;
      }

      .email img {
        width: 20px;
        height: 15px;
      }

      @media (min-width: 601px) and (max-width: 1024px) {
        .main-container {
          padding: 40px 50px 20px;
        }


        .container1 h2 {
          font-size: 32px;
          margin-bottom: 40px;
        }

        .left {
          width: 100%;
          max-width: 400px;
        }

        .about {
          gap: 30px;
        }

        .about p {
          font-size: 14px;
        }

        .right img {
          width: 211px;
          height: 189px;
        }

        .lessons {
          grid-template-columns: 150px 1fr;
          margin-bottom: 100px;
        }

        .lessons img {
          width: 134px;
          height: 126px;
        }

        .lessons section {
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          margin-left: 50px;
        }

        .lessons h4 {
          font-size: 15px;
        }

        .lessons p {
          font-size: 11px;
          width: 100px;
        }


        #format-title {
          font-size: 32px;
          margin-bottom: 40px;
        }

        .lessons-format {
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
          margin-bottom: 125px;
        }

        .formats {
          max-width: 100%;
        }

        .lessons-format h4 {
          font-size: 15px;
        }

        .lessons-format p {
          font-size: 11px;
        }

        .bottom h2 {
          font-size: 32px;
        }

        .bottom ul {
          font-size: 14px;
          margin-bottom: 150px;
        }

        #grid-title {
          font-size: 32px;
          margin-bottom: 65px;
        }

        .grid-cards {
          gap: 20px;
        }

        .img-crop {
          height: 92px;
        }

        .grid-description {
          padding: 10px 15px 20px;
        }

        .grid-description h4 {
          font-size: 17px;
          margin-bottom: 15px;
        }

        .grid-description p {
          font-size: 14px;
        }

        .info {
          padding: 60px 50px;
        }

        .info h2 {
          font-size: 32px;
          margin-bottom: 40px;
        }

        .review {
          padding: 30px;
        }

        .review .text {
          font-size: 12px;
        }

        #details-img {
          width: 80px;
          height: 70px;
        }

        .name {
          font-size: 17px;
        }

        .fb img {
          width: 18px;
          height: 17px;
        }

        .details-section {
          padding: 80px 50px;
        }

        .course-info h2 {
          font-size: 32px;
        }
        #course-title{
          padding: 60px 0px 0px 50px;
          font-size: 32px;
        }

        .label {
          font-size: 14px;
        }

        .price {
          font-size: 46px;
        }

        .footer-desc {
          gap: 40px;
        }

        .footer-item {
          max-width: 180px;
        }

        .footer-item h4 {
          font-size: 14px;
        }

        .footer-item p {
          font-size: 10px;
        }
        .black-bar {
          padding: 40px 50px;
        }

        #brand-logo-img {
          width: 66px;
          height: 39px;
        }

        .icons a img {
          width: 19px;
          height: 19px;
        }

        .logo-container {
          gap: 50px;
        }

        .year-2020 {
          font-size: 10px;
        }

        .contact, .email {
          font-size: 14px;
        }

        .contact img {
          width: 15px;
          height: 15px;
        }

        .email img {
          width: 15px;
          height: 10px;
        }
      }

      @media (min-width: 300px) and (max-width: 600px) {
        .main-container {
          padding: 30px 20px 20px;
        }
        .container1 {
          margin-bottom: 60px;
        }

        .container1 h2 {
          font-size: 26px;
          margin-bottom: 30px;
        }

        .about {
          flex-direction: column;
          gap: 30px;
        }

        .left {
          width: 100%;
        }

        .about p {
          font-size: 12px;
        }

        .right img {
          width: 170px;
          height: 160px;
        }

        .lessons {
          grid-template-columns: 1fr;
          margin-bottom: 60px;
        }

        .lessons > div:first-child {
          display: none;
        }

        .lessons section {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          margin-left: 0;
        }

        .lessons section > div {
          flex: 1 1 calc(50% - 10px);
          min-width: 120px;
        }

        .lessons h4 {
          font-size: 15px;
        }

        .lessons p {
          font-size: 10px;
          width: auto;
        }

        #format-title {
          font-size: 26px;
          margin-bottom: 30px;
        }

        .lessons-format {
          grid-template-columns: 1fr;
          gap: 30px;
          margin-bottom: 60px;
        }

        .lessons-format h4 {
          font-size: 15px;
          margin-bottom: 5px;
        }

        .lessons-format p {
          font-size: 11px;
        }

        .bottom h2 {
          font-size: 26px;
          margin-bottom: 20px;
        }

        .bottom ul {
          font-size: 12px;
          margin-bottom: 50px;
          padding-left: 25px;
        }

        .grid-container {
          margin-bottom: 50px;
        }

        #grid-title {
          font-size: 26px;
          margin-bottom: 40px;
        }

        .grid-cards {
          grid-template-columns: 1fr;
          gap: 20px;
        }

        .img-crop {
          height: 100px;
        }

        .grid-description {
          padding: 15px;
        }

        .grid-description h4 {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .grid-description p {
          font-size: 12px;
        }
        .info {
          padding: 40px 20px;
        }

        .info h2 {
          font-size: 26px;
          margin-bottom: 30px;
        }
        #course-title{
          padding: 60px 0px 0px 20px;
           font-size: 26px;
        }
        #last{
          margin-bottom: 5px;
        }

        .review {
          border-radius: 15px;
          padding: 25px;
        }

        .review .text {
          font-size: 10px;
        }

        .details {
          flex-direction: row;
          gap: 15px;
        }

        #details-img {
          width: 60px;
          height: 60px;
        }

        .name {
          font-size: 14px;
        }

        .fb img {
          width: 15px;
          height: 15px;
        }


        .details-section {
          padding: 50px 20px;
        }

        .course-info h2 {
          font-size: 26px;
          margin-bottom: 30px;
        }

        .label {
          font-size: 12px;
        }

        .price {
          font-size: 37px;
          margin-bottom: 30px;
        }

        .footer-desc {
          gap: 30px;
        }

        .footer-item {
          max-width: 100%;
        }

        .footer-item h4 {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .footer-item p {
          font-size: 11px;
        }

  
        .black-bar {
          flex-direction: column;
          padding: 30px 20px 90px 20px;
          gap: 40px;
        }

        .logo-container {
          gap: 20px;
          position: relative;
        }

        #brand-logo-img {
          width: 53px;
          height: 31px;
        }

        .icons {
          gap: 12px;
          margin-top: 5px;
        }

        .icons a img {
          width: 20px;
          height: 20px;
        }

        .year-2020 {
          font-size: 10px;
          position: absolute;
          top: 230px;
        }

        .contact-details {
          gap: 15px;
        }

        .contact, .email {
          font-size: 12px;
        }

        .contact img {
          width: 15px;
          height: 15px;
        }

        .email img {
          width: 15px;
          height: 10px;
        }
      }